*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Varela', sans-serif;
    
}
/*-------COMMON-----*/
.flex-start{

    justify-content: flex-start;
}
.flex-end{
    justify-content: flex-end;
}
.column {
    flex-direction: column;
}
.between{
    justify-content: space-between;

}
.flex{
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.align-hor {
    justify-content: center;
}
.align-ver {
    align-items: center;
}